#flame-chart {
    text-align: center;
    margin: 20px auto;
    position: relative;
    padding: 36px;
    border: 1px solid black;
    width: 80%;
    height: 80vh;
    resize: both;
    overflow: hidden;
}

g.candle {
    stroke-width: 1px;
    transform-origin: center;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}

line {
    transition: all 300ms ease-in-out;
}

.scale-up line {
    stroke-width: 2px;
}

rect {
    transition: all 300ms ease-in-out;
}

.scale-up rect {
    stroke-width: 2px;
}

.scale-up {
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

#chart {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    height: 100%;
    box-sizing: border-box;
}

.tooltip {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    user-select: none;
    transform: scale(0);
}

.tooltip.show {
    opacity: 1;
    transform: scale(1);
}