#flame-chart {
    text-align: center;
    margin: 20px auto;
    position: relative;
    padding: 36px;
    border: 1px solid black;
    width:800px;
    height:400px;
    resize: both;
    overflow: hidden;
}